<ion-view view-title={{command.name}} cache-view="false">

  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Home" icon-on="ion-ios-analytics" icon-off="ion-ios-analytics-outline">
		<ion-view name="Home">
			<ion-content class="padding">
						<div google-chart chart="chartObject"
							style="width: 100%;height:100%;border: 1px solid green;padding-bottom: 44px"
							class="has-footer">
						</div>
			</ion-content>
		</ion-view>

	</ion-tab>
	
	
    <ion-tab title="Settings" icon-on="ion-ios-more" icon-off="ion-ios-more-outline">
		<ion-view name="Parameters">
			<ion-content class="padding">
					<div>
						<div class="row">Nome</div><div>{{command.name}}</div>
						<div class="row">Commando</div><div>{{command.exec}}</div>
						<div class="row">Atualizado</div><div>{{atualizado}}</div>
					</div>
			</ion-content>
		</ion-view>

	</ion-tab>

    <ion-tab title="Data" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
		<ion-view name="Data">
			<ion-content class="padding">
					<div>
						<div class="row">
							<div class="col">
								Date
							</div>
							<div class="col">
								Value
							</div>
						</div>
						<div class="row" ng-repeat="r in chartObject.data.rows">
							<div class="col">
							  {{r.c[0].v}}
							</div>
							<div class="col">
							  {{r.c[1].v}}
							</div>

						</div>
					</div>
			</ion-content>
		</ion-view>
	</ion-tab>

  </ion-tabs>
</ion-view>
